.movies-cards {
  padding: 70px 70px 10px;
}

.movies-card__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  gap: 38px 20px;
}

.movies__btn {
  width: 320px;
  height: 36px;
  margin: 50px auto 80px;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  background-color: var(--back-more-btn-color);
  color: var(--text-main-color);
  border-radius: 6px;
  transition: .5s opacity;
  cursor: pointer;
}

.movies__btn:hover {
  opacity: .7;
}

@media screen and (max-width: 769px) {

  .movies-cards {
    padding: 70px 30px 10px;
  }

  .movies-card__list {
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 339px);
  }
}

@media screen and (max-width: 421px) {
  .movies-cards {
    padding: 40px 10px 10px;
  }

  .movies-card__list {
    justify-content: center;
    gap: 34px;
    grid-template-columns: repeat(auto-fit, 300px);
  }

  .movies__btn {
    width: 240px;
  }
}