.profile {
  font-family: 'Inter', sans-serif;
}

.profile__container {
  width: 410px;
  margin: 0 auto;
  padding: 74px 0 70px;
  display: flex;
  flex-direction: column;
}

.profile__input-label {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: var(--text-main-color);
  margin: 0;
  padding: 0 0 16px 0;
  border-bottom: 1px solid var(--line-main-color);
  display: block;
  min-width: 50px;
  height: 14px;
}

.profile__input-label_type_e-mail {
  margin-top: 17px;
  border-bottom: none;
}

.profile__input {
  text-align: right;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: var(--text-main-color);
  background: var(--back-main-color);
  border: none;
  margin: 0;
  padding: 0 0 16px 0;
  border-bottom: 1px solid var(--line-main-color);
  display: block;
  height: 14px;
}

.profile__error {
  grid-column: 1/3;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: var(--text-main-color);
  margin: 0 auto 20px;
  height: 13px;
}

.profile__popup-container {

  margin: 0 auto;
  align-self: center;
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: var(--text-main-color);
  flex-direction: column;
  position: relative;
}

.profile__popup-close-btn {
  background-image: url('../../images/burger-menu_btn-close.svg');
  width: 22px;
  height: 22px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -20px;
  right: -20px;
  transition: .5s opacity;
}

.profile__popup-close-btn:hover {
  opacity: .7;
}

.profile__message {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: var(--back-main-color);
  margin: 0;
  padding: 10px;
}

.profile__input_type_e-mail {
  margin-top: 17px;
  border: none;
  margin-bottom: 180px;
}

.profile__input:focus {
  outline: none;
  border-bottom: 1px solid var(--text-third-color);
}

.profile__input::placeholder {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: var(--text-schredule-color);
}

.profile__btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.profile__btn {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  background-color: var(--back-main-color);
  color: var(--text-main-color);
  border: none;
  cursor: pointer;
  transition: opacity .5s;
  padding: 0;
}

.profile__btn:hover {
  opacity: .7;
}

.profile__btn_type_logout {
  color: var(--text-error-color);
  margin: 0;
}

@media screen and (max-width: 768px) {
  .profile__container {
    padding: 236px 0 269px;
  }

  .profile__input_type_e-mail {
    margin-bottom: 170px;
  }
}

@media screen and (max-width: 420px) {
  .profile__container {
    padding: 70px 30px 40px;
    width: 260px;
  }

  .profile__btn {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__input_type_e-mail {
    margin-bottom: 340px;
  }
}