.promo {
  background-color: #073042;
  color: #fff;
}

.promo__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 70px;
  position: relative;
  min-height: 524px;
}

.promo__title {
  max-width: 730px;
  align-self: center;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 0;
}

.promo__logo {
  background-image: url('../../images/promo__logo.svg');
  background-size: contain;
  height: 320px;
  width: 320px;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .promo__container {
    padding: 0 17px;
    min-height: 784px;
  }
}

@media screen and (max-width: 440px) {
  .promo__container {
    min-height: 570px;
    padding: 0 10px;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
  }

  .promo__logo {
    width: 248px;
    height: 248px;
  }
}