.promo {
  background-color: #073042;
  color: #fff;
}

.promo__container {
  display: flex;
  flex-direction: column;
  padding: 184px 70px 224px;
  position: relative;
}

.promo__title {
  max-width: 730px;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}

.promo__logo {
  background-image: url('../../images/promo__logo.svg');
  background-size: contain;
  height: 320px;
  width: 320px;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}